@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url(https://images5.alphacoders.com/109/1091574.png);background-size:cover;" >
<div class="text-center">

        <h1>Welcome to <b>UPD8</b> @ViewBag.Username  </h1>
</div>
</body>